div {
    box-sizing: border-box;
    display: flex;
    float: left;
    width: 30%;
    flex-wrap: wrap;
    padding-left: 5%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1vw;
    align-content: center;
    h1 {
        justify-self: center;
    }
    p {
        justify-self: flex-start;
    }
}